/**Overrides*/
/*Start print only styles*/
@media print {

    /*@page {
        @bottom-center {
            content: counter(page);
        }
    }

    @page :first {
        @bottom-center {
            content: normal;
        }
    }*/

    @page copy {
        @bottom-center {
            content: counter(page);
        }
    }

    section {
        page: copy;
    }

    section:first-of-type {
        counter-reset: page 1;
    }

    /*We don't want repeated hrefs in the bibliography!*/
    a[href]:after {
        content: normal;
    }

    #TOC ul a::after {
        content: leader('.') target-counter(attr(href), page);
    }

    html {
        font-size: 11pt;
    }

    header {
        height: 27.5cm;
        /*background-image: url(../assets/img/westminster-logo.jpg);*/
    }

    /*body header {
        background-color: lightpink!important;
        background:url(../img/westminster-logo.jpg) scroll no-repeat bottom right !important;
        background-size: 5cm !important;
        /*background-position: 13.64cm 26.29cm !important;*\/
    }*/

    header #logo {
        width: 5cm;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    h1.toc,
    body > section {
        page-break-before: always;
    }

    .page-break-before {
        page-break-before: always;
        margin-top: 0;
    }
    .page-break-after {
        page-break-after: always;
    }

    .whole-page-width {
        width: 30cm;
    }

    .nine-tenth-page-width {
        width: 27cm;
    }

    .four-fth-page-width {
        width: 24cm;
    }

    .three-qtr-page-width {
        width: 22.5cm;
    }

    .two-third-page-width {
        width: 20cm;
    }

    .half-page-width {
        width: 15cm;
    }

    .third-page-width {
        width: 10cm;
    }
    
    .whole-page-height {
        height: 30cm;
    }

    .nine-tenth-page-height {
        height: 27cm;
    }

    .four-fth-page-height {
        height: 24cm;
    }

    .three-qtr-page-height {
        height: 22.5cm;
    }

    .two-third-page-height {
        height: 20cm;
    }

    .half-page-height {
        height: 15cm;
    }

    .third-page-height {
        height: 10cm;
    }
}
/*End print only styles*/

/*Start global styles*/

h1, h2, h3 {
    text-align: left;
}

h2, h3 {
    margin-bottom: 0;
    border-bottom: none;
}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.75rem

}

p {
    margin-top: 0;
}

header h1 {
    font-size: 3rem;
    border-bottom: none;
    margin-bottom: 0;
    text-transform: capitalize;
    line-height: 1.23;
    margin-bottom: 1.34rem;
}

header h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}

header h3 {
    /*margin-top: 1rem;*/
    padding-bottom: .25rem;
}

header p {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
}

thead {
    border-top: #888 .02rem solid;
    background-color: lightgrey;
}

th, td {
    padding: 0.125rem .5rem .5rem;
}

td {
    vertical-align: text-top;
    border: #888 .02rem solid;
    border-color: #888 #fff;
}

tr.even {
    background-color: lightgray;
}

td > p,
td > ul {
    margin-top: 0;
}

td > p + ul {
    margin-top: -1rem;
}

td > p:last-child {
    margin-bottom: 0;
}

dl {
    margin-top: 0;
}

dl dt {
    margin-right: .25rem;
}

dl dd {
    margin-left: 0;
    margin-bottom: 1rem;
}

pre,
blockquote {
    border: none;
}

.inline,
.inline.table table {
    display: inline;
}

.inline-b {
    display: inline-block;
}

.flex {
    display: flex;
}
.flex.center {
    justify-content: center;
}

.flex.two-col {
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex.two-col > * {
    margin-left: 0;
    margin-right: 0;
    width: 49%;
}

.non-code pre {
    page-break-inside: auto;
    overflow-x: hidden;
}
.non-code code {
    white-space: pre-line;
}

figure {
    page-break-inside: avoid;
}

figure figcaption {
    display: block;
    margin: auto;
    text-align: center;
}

img.whole-page-width,
img.nine-tenth-page-width,
img.four-fth-page-width,
img.three-qtr-page-width,
img.two-third-page-width,
img.half-page-width,
img.third-page-width,
img.whole-page-height,
img.nine-tenth-page-height,
img.four-fth-page-height,
    img.three-qtr-page-height,
img.two-third-page-height,
img.half-page-height,
img.third-page-height {
    display: block;
    margin: auto;
}

.flex table {
    margin: 0 1em;
}

.flow-images figure {
    display: inline-block;
    width: 38%;
}

/*#TOC ul {
    list-style-type: decimal;
}*/
#TOC ul {
    list-style-type: none;
}
#TOC ul a {
    text-decoration: none;
}
/*End global only styles*/
#refs div p em:last-child strong {
    display: block;
}

.rot90 {
    transform: rotate(90deg); /* Equal to rotateZ(90deg) */
}

.rot-content {
    display: inline-block;
    clear: both;
}

.neg-margin-self {
    margin-top: -100%;
}

.img-rot {
    margin: 0;
    display: inline-block;
}

.fit-img {
    text-align: center;
}

.fit-img figure,
.fit-img img {
    height: inherit;
}